In [1]:
ratings <- read.csv(file.choose())

In [2]:
head(ratings)
dim(ratings)

  critic        title              rating
1 Jack Matthews Lady in the Water  3.0
2 Jack Matthews Snakes on a Plane  4.0
3 Jack Matthews You Me and Dupree  3.5
4 Jack Matthews Superman Returns   5.0
5 Jack Matthews The Night Listener 3.0
6 Mick LaSalle  Lady in the Water  3.0

[1] 31  3

In [3]:
install.packages("reshape2")
library(reshape2)

Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  URL 'https://cran.r-project.org/src/contrib/PACKAGES' açılamıyor"Warning message:
"package 'reshape2' is not available (for R version 3.5.1)"Warning message:
"unable to access index for repository https://cran.r-project.org/bin/windows/contrib/3.5:
  URL 'https://cran.r-project.org/bin/windows/contrib/3.5/PACKAGES' açılamıyor"Warning message:
"package 'reshape2' was built under R version 3.5.2"

In [4]:
movie_ratings = as.data.frame(acast(ratings, title~critic,
value.var="rating"))
movie_ratings

                   Claudia Puig Gene Seymour Jack Matthews Lisa Rose
Just My Luck       3.0          1.5           NA           3.0
Lady in the Water   NA          3.0          3.0           2.5
Snakes on a Plane  3.5          3.5          4.0           3.5
Superman Returns   4.0          5.0          5.0           3.5
The Night Listener 4.5          3.0          3.0           3.0
You Me and Dupree  2.5          3.5          3.5           2.5
                   Mick LaSalle Toby
Just My Luck       2             NA
Lady in the Water  3             NA
Snakes on a Plane  4            4.5
Superman Returns   3            4.0
The Night Listener 3             NA
You Me and Dupree  2            1.0

In [5]:
sim_users <- cor(movie_ratings[,1:6],use="complete.obs")
sim_users

              Claudia Puig Gene Seymour Jack Matthews Lisa Rose Mick LaSalle
Claudia Puig  1.0000000    0.7559289    0.9285714     0.9449112 0.6546537
Gene Seymour  0.7559289    1.0000000    0.9449112     0.5000000 0.0000000
Jack Matthews 0.9285714    0.9449112    1.0000000     0.7559289 0.3273268
Lisa Rose     0.9449112    0.5000000    0.7559289     1.0000000 0.8660254
Mick LaSalle  0.6546537    0.0000000    0.3273268     0.8660254 1.0000000
Toby          0.8934051    0.3812464    0.6628490     0.9912407 0.9244735
              Toby
Claudia Puig  0.8934051
Gene Seymour  0.3812464
Jack Matthews 0.6628490
Lisa Rose     0.9912407
Mick LaSalle  0.9244735
Toby          1.0000000

In [6]:
update.packages(ask = FALSE)
install.packages("data.table")
library(data.table)
install.packages("dply")
install.packages("dplyr")
library(dplyr)
library(plyr)

Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  URL 'https://cran.r-project.org/src/contrib/PACKAGES' açılamıyor"Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  URL 'https://cran.r-project.org/src/contrib/PACKAGES' açılamıyor"Warning message:
"package 'data.table' is not available (for R version 3.5.1)"Warning message:
"unable to access index for repository https://cran.r-project.org/bin/windows/contrib/3.5:
  URL 'https://cran.r-project.org/bin/windows/contrib/3.5/PACKAGES' açılamıyor"Warning message:
"package 'data.table' was built under R version 3.5.2"
Attaching package: 'data.table'

The following objects are masked from 'package:reshape2':

    dcast, melt

Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  URL 'https://cran.r-project.org/src/contrib/PACKAGES' açılamıyor"Warning message:
"package 'dply' is not available (for R version 3.5.1)"Warning message:
"unable to access index for repository https://cran.r-project.org/bin/windows/contrib/3.5:
  URL 'https://cran.r-project.org/bin/windows/contrib/3.5/PACKAGES' açılamıyor"Warning message:
"unable to access index for repository https://cran.r-project.org/src/contrib:
  URL 'https://cran.r-project.org/src/contrib/PACKAGES' açılamıyor"Warning message:
"package 'dplyr' is not available (for R version 3.5.1)"Warning message:
"unable to access index for repository https://cran.r-project.org/bin/windows/contrib/3.5:
  URL 'https://cran.r-project.org/bin/windows/contrib/3.5/PACKAGES' açılamıyor"Warning message:
"package 'dplyr' was built under R version 3.5.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

In [7]:
rating_critic <- setDT(movie_ratings[colnames(movie_ratings)[6]],keep.rownames=T)[
]
names(rating_critic)=c("title","rating")
rating_critic

  title              rating
1 Just My Luck        NA
2 Lady in the Water   NA
3 Snakes on a Plane  4.5
4 Superman Returns   4.0
5 The Night Listener  NA
6 You Me and Dupree  1.0

In [8]:
titles_na_critic <- rating_critic$title[is.na(rating_critic$rating)]
titles_na_critic

[1] "Just My Luck"       "Lady in the Water"  "The Night Listener"

In [9]:
ratings_t <- ratings[ratings$title %in% titles_na_critic,]
ratings_t

   critic        title              rating
1  Jack Matthews Lady in the Water  3.0
5  Jack Matthews The Night Listener 3.0
6  Mick LaSalle  Lady in the Water  3.0
8  Mick LaSalle  Just My Luck       2.0
11 Mick LaSalle  The Night Listener 3.0
13 Claudia Puig  Just My Luck       3.0
16 Claudia Puig  The Night Listener 4.5
17 Lisa Rose     Lady in the Water  2.5
19 Lisa Rose     Just My Luck       3.0
21 Lisa Rose     The Night Listener 3.0
26 Gene Seymour  Lady in the Water  3.0
28 Gene Seymour  Just My Luck       1.5
31 Gene Seymour  The Night Listener 3.0

In [10]:
x = (setDT(data.frame(sim_users[,6]),keep.rownames = TRUE)[])
names(x) = c('critic','similarity')
ratings_t = merge(x = ratings_t, y = x, by = "critic", all.x =
TRUE)
ratings_t

   critic        title              rating similarity
1  Claudia Puig  Just My Luck       3.0    0.8934051
2  Claudia Puig  The Night Listener 4.5    0.8934051
3  Gene Seymour  Lady in the Water  3.0    0.3812464
4  Gene Seymour  Just My Luck       1.5    0.3812464
5  Gene Seymour  The Night Listener 3.0    0.3812464
6  Jack Matthews Lady in the Water  3.0    0.6628490
7  Jack Matthews The Night Listener 3.0    0.6628490
8  Lisa Rose     Lady in the Water  2.5    0.9912407
9  Lisa Rose     Just My Luck       3.0    0.9912407
10 Lisa Rose     The Night Listener 3.0    0.9912407
11 Mick LaSalle  Lady in the Water  3.0    0.9244735
12 Mick LaSalle  Just My Luck       2.0    0.9244735
13 Mick LaSalle  The Night Listener 3.0    0.9244735

In [11]:
ratings_t$sim_rating = ratings_t$rating*ratings_t$similarity
ratings_t

   critic        title              rating similarity sim_rating
1  Claudia Puig  Just My Luck       3.0    0.8934051  2.6802154
2  Claudia Puig  The Night Listener 4.5    0.8934051  4.0203232
3  Gene Seymour  Lady in the Water  3.0    0.3812464  1.1437393
4  Gene Seymour  Just My Luck       1.5    0.3812464  0.5718696
5  Gene Seymour  The Night Listener 3.0    0.3812464  1.1437393
6  Jack Matthews Lady in the Water  3.0    0.6628490  1.9885469
7  Jack Matthews The Night Listener 3.0    0.6628490  1.9885469
8  Lisa Rose     Lady in the Water  2.5    0.9912407  2.4781018
9  Lisa Rose     Just My Luck       3.0    0.9912407  2.9737221
10 Lisa Rose     The Night Listener 3.0    0.9912407  2.9737221
11 Mick LaSalle  Lady in the Water  3.0    0.9244735  2.7734204
12 Mick LaSalle  Just My Luck       2.0    0.9244735  1.8489469
13 Mick LaSalle  The Night Listener 3.0    0.9244735  2.7734204

In [13]:
result = ratings_t %>% group_by(title) %>%
summarise(sum(sim_rating)/sum(similarity))
result

  sum(sim_rating)/sum(similarity)
1 2.934837

In [14]:
result

  sum(sim_rating)/sum(similarity)
1 2.934837

In [15]:
mean(rating_critic$rating,na.rm = T)

[1] 3.166667

In [16]:
generateRecommendations <- function(userId){
rating_critic = setDT(movie_ratings[colnames(movie_ratings)
[userId]],keep.rownames = TRUE)[]
names(rating_critic) = c('title','rating')
titles_na_critic =
rating_critic$title[is.na(rating_critic$rating)]
ratings_t =ratings[ratings$title %in% titles_na_critic,]
#add similarity values for each user as new variable
x = (setDT(data.frame(sim_users[,userId]),keep.rownames = TRUE)
[])
names(x) = c('critic','similarity')
ratings_t = merge(x = ratings_t, y = x, by = "critic", all.x =
TRUE)
#mutiply rating with similarity values
ratings_t$sim_rating = ratings_t$rating*ratings_t$similarity
#predicting the non rated titles
result = ratings_t %>% group_by(title) %>%
summarise(sum(sim_rating)/sum(similarity))
return(result)
}

In [20]:
generateRecommendations(3)

  sum(sim_rating)/sum(similarity)
1 2.409926